# Ignore everything by default
*

# Ignore .DS_Store specifically
.DS_Store
**/.DS_Store

# --- Allow the root .gitignore itself (and optionally README/LICENSE) ---
!.gitignore
!README.md
!LICENSE

# --- Allow specific folders (edit these) ---
!rtl/
!rtl/**
rtl/.DS_Store

# --- Allow specific root files (edit these) ---
!Makefile
!files.f
